 
    <header class="header">
        <img src="./assets/png-clippart-logo-brand-font-product-line-chloe-price-text-logo.png" alt="">
        <nav>
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a  [routerLink]="['/administracion']">Administración</a></li>
          </ul>
        </nav>
      </header>

  <section class="sections">
    <h1>Historia</h1>
  </section>
  <section class="sections">
    <div>
        <h2>carrousel de producto</h2>
    </div>
  </section>
  <section class="sections">
    <h2>metodos de contacto o agenda de turno</h2>
  </section>
  <footer>
    <h1>mail,conocenos,calle del lugar,</h1>
  </footer>